<<<<<<< HEAD
h1 {
  text-transform: lowercase;
}
h2 {
  text-align: right;
}
h3 {
  font-size: 58px;
}
h4 {
  text-shadow: 0ex;
}
=======
body {
    background-color: grey;
}

div {
    width: 200px;
    height: 200px;
    background-color: pink;
}
>>>>>>> 76e0015f2dcbfc13e404214e4a7d6aa7e36a7b7b
