p {
  color: blue; /* Styles! */
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
}

h1 {
  margin: 10px;
  border: solid 5px red;
  padding: auto;
  /* padding pushing content in and margin pushes outwards */
}